<div class="page-container">


    <div class="column">
        <app-meals-list [isLoading]="isLoadingMeals" [meals]="meals"
            (deleteMeal)="onDeleteMeal($event)"></app-meals-list>
    </div>
    <div class="column">
        <app-ingredients-list [isLoading]="isLoadingIngredients" [ingredients]="ingredients"
            (deleteIngredient)="onDeleteIngredient($event)"></app-ingredients-list>

        <button class="shopping-list-button list-container full-width" (click)="viewMeals()">Generate Shopping
            List</button>


    </div>
</div>